* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
:root {
  --pure-white: #fff;
  --main-body-color-light: #f9fafb;
  --secondary-body-color-light: #f6faff;
  --main-body-color-dark: #111827;
  --secondary-body-color-dark: #1f2937;
  --main-color-light: #4d9bff;
  --secondary-color-light: ;
  --main-text-color-light: #4b5563;
  --main-text-color-dark: #d1d5db;
  --shadowColor: #101523;
  --link-color: #9ca3af;
  --link-color-dark: #9ca3af;
}
body {
  background-color: var(--main-body-color-dark);
}

/* NAVAGATION SECTION */
button#theme-btn {
  background-color: var(--main-color-light);
  color: #f8fbff;
}
#navbar {
  background-color: var(--secondary-body-color-dark);
  box-shadow: 0px 3px 6px var(--shadowColor);
}

ul#navList li a {
  color: var(--link-color);
}
ul#navList a:hover {
  background-color: #374151;
}

/* PROFILE CARD SECTION */
#profileCardSection {
  background-color: var(--secondary-body-color-dark);
  box-shadow: 0px 3px 5px var(--shadowColor);
}
#profileCardHead {
  background-color: #3f78c1;
}
#profileImage {
  border: #111827 3px solid;
  background-color: var(--main-body-color-light);
}
#myName {
  color: var(--pure-white);
}
.profile-text-alt {
  color: var(--main-color-light);
}
.profile-text {
  color: #9ca3af;
}

.social-btn {
  background-color: #374151;
  color: #d1d5db;
}
.social-btn:hover {
  background-color: var(--main-color-light);
  color: var(--pure-white);
}
.social-btn:active {
  background-color: var(--main-color-light) !important;
  color: var(--pure-white) !important;
}
.download-resume-btn {
  background-color: var(--main-color-light);
  color: var(--pure-white);
}
.download-resume-btn:hover {
  background-color: #7db4fc;
  color: var(--pure-white);
}
.download-resume-btn:active {
  background-color: #7db4fc !important;
  color: var(--pure-white) !important;
}

.contactLinkBtn {
  border: thin solid var(--main-color-light);
  color: var(--main-color-light);
}
.contactLinkBtn:hover {
  background-color: #7db4fc27;
  color: var(--main-color-light);
  border: thin solid var(--main-color-light) !important;
}
.contactLinkBtn:active {
  background-color: #7db4fc56 !important;
  color: var(--main-color-light) !important;
  border: thin solid var(--main-color-light);
}
#mainSection {
  background-color: var(--secondary-body-color-dark);
  box-shadow: 0px 3px 5px var(--shadowColor);
}

#mainSection::-webkit-scrollbar-track,
#text-area::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
#mainSection::-webkit-scrollbar-thumb,
#text-area::-webkit-scrollbar-thumb {
  background-color: var(--main-color-light) !important;
  border: 2px solid transparent;
}
hr.classical {
  border: thin solid #2d4c73;
}
.header_content,
.main_subHeaders {
  color: #fff;
}
.header_alt {
  color: var(--main-color-light);
}
.main-section-txt {
  color: var(--main-text-color-dark);
}

.subhero-icon {
  color: var(--main-color-light);
  background-color: #17263d;
}
.subhero {
  background-color: var(--main-body-color-dark);
  color: var(--main-text-color-dark);
  transition: 0.3s;
}
.subhero:hover,
#uiUX:hover,
#seo:hover {
  box-shadow: 0 5px 5px var(--shadowColor);
  transition: 0.3s;
}
.subhero:hover .subhero-icon {
  background-color: #203453;
}
.subsectionHeroParagraph {
  color: var(--main-text-color-dark);
}

#lineSkillSection {
  background-color: var(--main-body-color-dark);
}
.skillLineHtml,
.skillLineCss {
  background-color: #bcbcbd;
}
.skillLineHtml::before {
  background-color: var(--main-color-light);
}

.skillLineCss::before {
  background-color: var(--main-color-light);
}

.line-icon {
  color: var(--main-color-light);
  background-color: #17263d;
}

.skillLineText,
.card-text,
.barText {
  color: var(--main-text-color-dark);
}

.skillCard {
  background-color: var(--main-body-color-dark);
}
.skillCard:hover {
  background-color: #4d9aff3b;
  transition: 0.3s;
}
.card-icon {
  color: var(--main-color-light);
}
.card-text-percentage,
.bar-percentage {
  color: var(--main-color-light);
}

#uiUX,
#seo {
  background-color: var(--main-body-color-dark);
}
.bar-icon {
  color: var(--main-color-light);
  background-color: #17263d;
}

.roadmap-icon {
  background-color: #28405f;
  border: var(--main-color-light) 3px solid;
  color: var(--main-color-light);
}

.roadmapLine,
.roadmapLine2 {
  background-color: #2d4c73;
}

.educationBar,
.experienceBar {
  background-color: var(--secondary-body-color-dark);
}

.badge-roadmap,
.projectBadge {
  background-color: #24354b;
  color: var(--main-color-light);
}
.barSectionHeader {
  color: var(--pure-white);
}
.barSectionText {
  color: var(--main-text-color-dark);
}
.cardContainer {
  background-color: var(--main-body-color-dark);
  border: thin solid #374151;
}
.cardDescription {
  color: var(--pure-white);
}
.cardHead {
  background-color: #eaeaea;
}
.cardBody {
  background-color: var(--secondary-body-color-dark);
}
.projectTitle {
  color: var(--main-color-light);
}
.badge-projects {
  background-color: #374151;
  color: var(--main-text-color-dark);
}
.btn-description-code {
  background-color: #6b7280;
  color: var(--pure-white);
}
.btn-description-code:focus,.btn-description-code:active{
  background-color: #6b7280 !important;
  color: var(--pure-white) !important;
}
.btn-description-demo{
  background-color: var(--main-color-light);
  color: var(--pure-white);
}
.btn-description-demo:focus , .btn-description-demo:active{
  background-color: var(--main-color-light) !important;
  color: var(--pure-white) !important;
}
.btn-description-demo:hover {
  background-color: #4a8ee6;
  color: var(--pure-white);
}
.btn-description-code:hover {
  background-color: #5a5f69;
  color: var(--pure-white);
}
.cardContainer:hover .cardDescription {
  background-color: #201e1ec0;
}
.contactHeader {
  color: var(--main-text-color-dark);
}
.myid {
  color: var(--main-text-color-dark);
}
.contact-icon {
  color: var(--main-color-light);
  background-color: #28405f;
}
.active-icon {
  background-color: rgb(67, 238, 33);
}
#availability {
  border: thin solid var(--main-color-light);
  background-color: #24354b;
  color: var(--main-text-color-dark);
}
.btn-submit-contact {
  background-color: var(--main-color-light);
  color: var(--pure-white);
}

.contactHeader {
  color: var(--main-text-color-dark);
}
.myid {
  color: var(--main-text-color-dark);
}

.formHeader {
  color: var(--pure-white);
}
#contactForm {
  background-color: var(--secondary-body-color-dark);
  border: 2px solid #4b5563;
  color: var(--main-text-color-dark);
}

.form-control {
  background-color: #374151;
  border: thin solid #4b5563;
  color: var(--main-text-color-dark);
}
.form-control:focus {
  background-color: #374151 !important;
  border: thin solid var(--main-color-light) !important;
  color: var(--main-text-color-dark);
}
.form-floating > .form-control:focus ~ label::after {
  background-color: #374151;
}
.form-floating > label,
.form-floating > label::after {
  color: var(--main-text-color-dark) !important;
}
.form-floating > .form-control ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  color: var(--main-text-color-dark) !important;
  background-color: #374151;
}
.btn-submit-contact:hover {
  background-color: #3a84e6;
  color: var(--pure-white);
}
@media screen and (max-width: 320px) {
  #navbar {box-shadow: 0px -3px 6px var(--shadowColor) !important};
    .cardDescription {
      border-top: 2px solid var(--shadowColor);
    }
}
@media screen and (min-width: 321px) and (max-width: 425px) {
  #navbar {box-shadow: 0px -3px 6px var(--shadowColor) !important;}

}
@media screen and (min-width: 426px) and (max-width: 1024px) {
}
