@media screen and (max-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
  }
  html {
    scroll-behavior: smooth;
    transition: 0.5s;
  }
  #container {
    padding: 2% 4%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  /* NAVAGATION SECTION */
  button#theme-btn,
  button#theme-btn-dark {
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    top: -50px;
    left: 84% !important;
    z-index: 99;
    transition: 0.3s;
    display: block;
  }
  button#theme-btn:hover,
  button#theme-btn-dark {
    scale: 1.07;
    transition: 0.3s;
  }
  button#theme-btn:active,
  button#theme-btn-dark {
    border: none;
    scale: 0.85;
  }
  .fa-moon {
    transform: scale(1.2);
    letter-spacing: 5px;
  }
  #navagation-section {
    text-align: center;
    position: relative;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }
  #navbar {
    width: 100vw;
    display: inline-block;
    border-radius: 0;
    position: relative;
  }
  ul#navList {
    margin: 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
  }
  ul#navList li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
  }
  ul#navList li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 8px 5px;
    font-weight: 600;
    transition: 0.5;
    border-radius: 10px;
  }

  .nav-text {
    display: inline;
    font-size: 11px;
  }
  /* PROFILE CARD SECTION */
  #profileCardSection {
    width: 100vw !important;
    height: auto !important;
    border-radius: 20px;
    position: relative;
    padding: 0 0 20px 0;
  }
  #profileCardHead {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
  }
  #profileCardBody {
    padding: 10px 10px;
    text-align: center;
  }
  #profileImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    max-width: 100%;
    position: absolute;
    top: 75px;
    left: 100px;
  }
  #myName {
    margin-top: 45px;
    letter-spacing: -1px;
    font-weight: bold;
    z-index: 1;
  }
  .profile-text-alt {
    font-weight: 600;
    font-size: 16px;
  }
  #socialSection {
    padding: 5px;
  }
  .social-btn {
    border-radius: 100%;
    margin-inline: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
    padding: 5px;
  }
  .social-btn:hover {
    transition: 0.3s;
  }
  .social-btn:active {
    transition: 0.3s;
  }
  .download-resume-btn {
    padding: 6px;
    font-size: 16px;
    transition: 0.3s;
  }

  #downloadResumeSection {
    margin-top: 15px;
  }
  .contactLinkBtn {
    padding: 6px;
    font-size: 16px;
    margin-inline: 10px;
    transition: 0.3s;
  }
  .contactLinkBtn:hover {
    transition: 0.3s;
    border: none;
  }
  .contactLinkBtn:active {
    transition: 0.3s;
  }
  #mainSection {
    padding: 40px 15px;
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    height: 93vh;
    width: 100vw;
    font-size: 16px;
    overflow-y: auto;
  }
  #mainSection::-webkit-scrollbar {
    width: 5px;
  }
  #mainSection::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #mainSection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
  .homeSection {
    padding: 10px 0;
    margin: 20px 0;
  }
  .header_content {
    font-weight: bold;
  }

  #subheroSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .subhero-icon {
    font-size: 16px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    top: 0px;
  }
  .subhero {
    padding: 10px 20px;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    gap: 20px;
    /* padding:10px */
  }
  .subsectionHeroHeaders {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .subsectionHeroParagraph {
    font-size: 14px;
  }
  .skillSection {
    margin: 30px 0;
  }
  hr.classical {
    display: inline-block;
    width: 20%;
    position: relative;
    top: 10px;
  }
  .main_subHeaders {
    display: inline-block;
    margin-inline: 10px;
  }

  #lineSkillSection {
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
  }
  .skillLineHtml,
  .skillLineCss {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    position: relative;
  }
  .skillLineHtml::before {
    position: absolute;
    content: " ";
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillHtml 2.5s 1 ease-out;
  }
  @keyframes fillHtml {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
  .skillLineCss::before {
    position: absolute;
    content: " ";
    width: 95%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillCss 2.5s 1 ease-out;
  }
  @keyframes fillCss {
    from {
      width: 0%;
    }
    to {
      width: 95%;
    }
  }

  .line-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
  }
  .skillLineTextDivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lineSkillSubSection {
    margin: 20px 0;
  }
  .skillLineText,
  .card-text,
  .barText {
    font-weight: bold;
  }

  .skillLineIconText {
    position: relative;
    top: -15px;
  }
  #cardSkillSection {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .skillCard {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    flex-grow: 1;
    text-align: center;
  }
  .card-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 2.3rem;
    margin-right: 10px;
  }
  .card-text-percentage,
  .bar-percentage {
    font-weight: bold;
  }
  #barSkillSection {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #uiUX,
  #seo {
    width: 100%;
    flex-grow: 1;
    padding: 20px 10px;
    border-radius: 20px;
  }
  .bar-icon {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .barText,
  .bar-percentage {
    position: relative;
    top: -10px;
    margin-inline: 2;
    font-size: 14px;
  }

  #educationBarSection,
  #experienceSection,
  #experiences {
    margin: 20px 0;
    position: relative;
  }
  .roadmapSection {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }
  .roadmap-icon {
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    position: relative;
    margin-top: 10px;
    z-index: 2;
  }
  .roadmap::after {
    content: " ";
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    left: 15px;
  }

  .educationBar,
  .experienceBar {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
  }

  .badge-roadmap {
    position: absolute;
    right: 0px !important;
    font-size: 10px !important;
    font-family: inherit;
    padding: 5px;
    top: 0px;
  }
  .barSectionHeader {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.5;
  }
  .barSectionText {
    margin: 5px 0 0 5px;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
  }
  #projectsCardSection {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px 10px;
  }

  .cardContainer {
    width: 310px;
    height: 100% !important;
    border-radius: 20px;
    position: relative;
  }
  .cardDescription {
    text-align: center;
    padding: 20px 10px 10px 10px;
    opacity: 0;
    height: 100%;
    width: 309.5px;
    border-radius: 20px 20px 0 0;
  }
  .project-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    height: 67% !important;
  }
  .cardHead {
    width: 100%;
    height: 67%;
    border-radius: 20px 20px 0 0;
  }
  .cardBody {
    width: 100%;
    height: 33%;
    padding: 15px 20px 10px 8px;
    border-radius: 0 0 20px 20px;
    position: relative;
    text-align: left;
  }
  .projectBadge {
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 10px;
  }
  .badge-projects {
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    font-size: 10px;
  }
  .projectTitle {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: 10px;
  }
  .btn-description-code,
  .btn-description-demo {
    border-radius: 10px;
  }
  .cardContainer:hover .cardDescription {
    opacity: 1;
    transition: 0.3s;
    position: relative;
  }

  #contactsSection {
    margin: 40px 0 20px 0;
  }
  .contactHeader {
    text-align: left;
    position: relative;
    left: 10px;
  }
  #contactSubsection {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 20px 0;
  }
  .myid {
    line-height: 1.2;
  }
  .contact-icon {
    margin-inline: 3px;
    padding: 8px;
    position: relative;
    top: 5px;
    border-radius: 100%;
  }
  .active-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-inline: 2px;
  }
  #availability {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
  }
  #contactForm {
    border-radius: 15px;
    padding: 20px;
    width: 350px;
  }
  .formHeader {
    font-size: 1.1rem;
    text-align: left;
    margin: 20px 0;
  }
  .btn-submit-contact {
    width: 100%;
  }
  label.text-area-label {
    text-align: left;
    margin-bottom: 10px;
  }
  #text-area::-webkit-scrollbar {
    width: 8px;
  }
  #text-area::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #text-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
}
/* Medium screen */
@media screen and (min-width: 321px) and (max-width: 424px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
  }
  html {
    scroll-behavior: smooth;
    transition: 0.5s;
  }
  #container {
    padding: 2% 4%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  /* NAVAGATION SECTION */
  button#theme-btn,
  button#theme-btn-dark {
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    top: -50px;
    left: 84% !important;
    z-index: 99;
    transition: 0.3s;
    display: block;
  }
  button#theme-btn:hover,
  button#theme-btn-dark {
    scale: 1.07;
    transition: 0.3s;
  }
  button#theme-btn:active,
  button#theme-btn-dark {
    border: none;
    scale: 0.85;
  }
  .fa-moon {
    transform: scale(1.2);
    letter-spacing: 5px;
  }
  #navagation-section {
    text-align: center;
    position: relative;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }
  #navbar {
    width: 100vw;
    display: inline-block;
    border-radius: 0;
    position: relative;
  }
  ul#navList {
    margin: 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
  }
  ul#navList li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
  }
  ul#navList li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 8px 5px;
    font-weight: 600;
    transition: 0.5;
    border-radius: 10px;
  }

  .nav-text {
    display: inline;
    font-size: 11px;
  }
  /* PROFILE CARD SECTION */
  #profileCardSection {
    width: 100vw !important;
    height: auto !important;
    border-radius: 20px;
    position: relative;
    padding: 0 0 20px 0;
  }
  #profileCardHead {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
  }
  #profileCardBody {
    padding: 10px 10px;
    text-align: center;
  }
  #profileImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    max-width: 100%;
    position: absolute;
    top: 75px;
    left: 120px;
  }
  #myName {
    margin-top: 45px;
    letter-spacing: -1px;
    font-weight: bold;
    z-index: 1;
  }
  .profile-text-alt {
    font-weight: 600;
    font-size: 16px;
  }
  #socialSection {
    padding: 5px;
  }
  .social-btn {
    border-radius: 100%;
    margin-inline: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
    padding: 5px;
  }
  .social-btn:hover {
    transition: 0.3s;
  }
  .social-btn:active {
    transition: 0.3s;
  }
  .download-resume-btn {
    padding: 6px;
    font-size: 16px;
    transition: 0.3s;
  }

  #downloadResumeSection {
    margin-top: 15px;
  }
  .contactLinkBtn {
    padding: 6px;
    font-size: 16px;
    margin-inline: 10px;
    transition: 0.3s;
  }
  .contactLinkBtn:hover {
    transition: 0.3s;
    border: none;
  }
  .contactLinkBtn:active {
    transition: 0.3s;
  }
  #mainSection {
    padding: 40px 15px;
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    height: 93vh;
    width: 100vw;
    font-size: 16px;
    overflow-y: auto;
  }
  #mainSection::-webkit-scrollbar {
    width: 5px;
  }
  #mainSection::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #mainSection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
  .homeSection {
    padding: 10px 0;
    margin: 20px 0;
  }
  .header_content {
    font-weight: bold;
  }

  #subheroSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .subhero-icon {
    font-size: 16px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    top: 0px;
  }
  .subhero {
    padding: 10px 20px;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    gap: 20px;
    /* padding:10px */
  }
  .subsectionHeroHeaders {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .subsectionHeroParagraph {
    font-size: 14px;
  }
  .skillSection {
    margin: 30px 0;
  }
  hr.classical {
    display: inline-block;
    width: 20%;
    position: relative;
    top: 10px;
  }
  .main_subHeaders {
    display: inline-block;
    margin-inline: 10px;
  }

  #lineSkillSection {
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
  }
  .skillLineHtml,
  .skillLineCss {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    position: relative;
  }
  .skillLineHtml::before {
    position: absolute;
    content: " ";
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillHtml 2.5s 1 ease-out;
  }
  @keyframes fillHtml {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
  .skillLineCss::before {
    position: absolute;
    content: " ";
    width: 95%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillCss 2.5s 1 ease-out;
  }
  @keyframes fillCss {
    from {
      width: 0%;
    }
    to {
      width: 95%;
    }
  }

  .line-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
  }
  .skillLineTextDivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lineSkillSubSection {
    margin: 20px 0;
  }
  .skillLineText,
  .card-text,
  .barText {
    font-weight: bold;
  }

  .skillLineIconText {
    position: relative;
    top: -15px;
  }
  #cardSkillSection {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .skillCard {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    flex-grow: 1;
    text-align: center;
  }
  .card-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 2.3rem;
    margin-right: 10px;
  }
  .card-text-percentage,
  .bar-percentage {
    font-weight: bold;
  }
  #barSkillSection {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #uiUX,
  #seo {
    width: 100%;
    flex-grow: 1;
    padding: 20px 10px;
    border-radius: 20px;
  }
  .bar-icon {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .barText,
  .bar-percentage {
    position: relative;
    top: -10px;
    margin-inline: 2;
    font-size: 14px;
  }

  #educationBarSection,
  #experienceSection,
  #experiences {
    margin: 20px 0;
    position: relative;
  }
  .roadmapSection {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }
  .roadmap-icon {
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    position: relative;
    margin-top: 10px;
    z-index: 2;
  }
  .roadmap::after {
    content: " ";
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    left: 15px;
  }

  .educationBar,
  .experienceBar {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
  }

  .badge-roadmap {
    position: absolute;
    right: 0px !important;
    font-size: 10px !important;
    font-family: inherit;
    padding: 5px;
    top: 0px;
  }
  .barSectionHeader {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
  .barSectionText {
    margin: 5px 0 0 5px;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
  }
  #projectsCardSection {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px 10px;
  }
  .cardContainer {
    width: 310px;
    height: 100% !important;
    border-radius: 20px;
    position: relative;
  }
  .cardDescription {
    text-align: center;
    padding: 20px 10px 10px 10px;
    opacity: 0;
    height: 100%;
    width: 309.5px;
    border-radius: 20px 20px 0 0;
  }
  .project-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    height: 67% !important;
  }
  .cardHead {
    width: 100%;
    height: 67%;
    border-radius: 20px 20px 0 0;
  }
  .cardBody {
    width: 100%;
    height: 33%;
    padding: 15px 20px 10px 8px;
    border-radius: 0 0 20px 20px;
    position: relative;
    text-align: left;
  }
  .projectBadge {
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    font-size: 12px;
    right: 5px;
    top: 10px;
  }
  .badge-projects {
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    font-size: 10px;
  }
  .projectTitle {
    font-size: 14px;
    font-weight: 500;
  }
  .btn-description-code,
  .btn-description-demo {
    border-radius: 10px;
  }
  .cardContainer:hover .cardDescription {
    opacity: 1;
    transition: 0.3s;
    position: relative;
  }

  #contactsSection {
    margin: 20px 0;
  }
  .contactHeader {
    text-align: left;
    position: relative;
    left: 10px;
  }
  #contactSubsection {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 20px 0;
  }
  .myid {
    line-height: 1.2;
  }
  .contact-icon {
    margin-inline: 3px;
    padding: 8px;
    position: relative;
    top: 5px;
    border-radius: 100%;
  }
  .active-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-inline: 2px;
  }
  #availability {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
  }
  #contactForm {
    border-radius: 15px;
    padding: 20px;
    width: 350px;
  }
  .formHeader {
    font-size: 1.1rem;
    text-align: left;
    margin: 20px 0;
  }
  .btn-submit-contact {
    width: 100%;
  }
  label.text-area-label {
    text-align: left;
    margin-bottom: 10px;
  }
  #text-area::-webkit-scrollbar {
    width: 8px;
  }
  #text-area::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #text-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
  }
  html {
    scroll-behavior: smooth;
    transition: 0.5s;
  }
  #container {
    padding: 2% 4%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  /* NAVAGATION SECTION */
  button#theme-btn,
  button#theme-btn-dark {
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    position: absolute;
    top: -55px;
    left: 84% !important;
    z-index: 99;
    transition: 0.3s;
    display: block;
  }
  button#theme-btn:hover,
  button#theme-btn-dark {
    scale: 1.07;
    transition: 0.3s;
  }
  button#theme-btn:active,
  button#theme-btn-dark {
    border: none;
    scale: 0.85;
  }
  .fa-moon {
    transform: scale(1.2);
    letter-spacing: 5px;
  }
  #navagation-section {
    text-align: center;
    position: relative;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }
  #navbar {
    width: 100vw;
    display: inline-block;
    border-radius: 0;
    position: relative;
  }
  ul#navList {
    margin: 0;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  ul#navList li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 15px;
    text-align: center;
  }
  ul#navList li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 8px 5px;
    font-weight: 600;
    transition: 0.5;
    border-radius: 10px;
  }

  .nav-text {
    display: block;
    font-size: 11px;
  }
  /* PROFILE CARD SECTION */
  #profileCardSection {
    width: 100vw !important;
    height: auto !important;
    border-radius: 20px;
    position: relative;
    padding: 0 0 20px 0;
  }
  #profileCardHead {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
  }
  #profileCardBody {
    padding: 10px 10px;
    text-align: center;
  }
  #profileImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    max-width: 100%;
    position: absolute;
    top: 75px;
    left: 150px;
  }
  #myName {
    margin-top: 45px;
    letter-spacing: -1px;
    font-weight: bold;
    z-index: 1;
  }
  .profile-text-alt {
    font-weight: 600;
    font-size: 16px;
  }
  #socialSection {
    padding: 5px;
  }
  .social-btn {
    border-radius: 100%;
    margin-inline: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
    padding: 5px;
  }
  .social-btn:hover {
    transition: 0.3s;
  }
  .social-btn:active {
    transition: 0.3s;
  }
  .download-resume-btn {
    padding: 6px;
    font-size: 16px;
    transition: 0.3s;
  }

  #downloadResumeSection {
    margin-top: 15px;
  }
  .contactLinkBtn {
    padding: 6px;
    font-size: 16px;
    margin-inline: 10px;
    transition: 0.3s;
  }
  .contactLinkBtn:hover {
    transition: 0.3s;
    border: none;
  }
  .contactLinkBtn:active {
    transition: 0.3s;
  }
  #mainSection {
    padding: 40px 15px;
    flex-grow: 1;
    border-radius: 20px 0 0 20px;
    height: 93vh;
    width: 100vw;
    font-size: 16px;
    overflow-y: auto;
  }
  #mainSection::-webkit-scrollbar {
    width: 5px;
  }
  #mainSection::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #mainSection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
  .homeSection {
    padding: 10px 0;
    margin: 20px 0;
  }
  .header_content {
    font-weight: bold;
  }

  #subheroSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .subhero-icon {
    font-size: 16px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    top: 0px;
  }
  .subhero {
    padding: 10px 20px;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    gap: 20px;
    /* padding:10px */
  }
  .subsectionHeroHeaders {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .subsectionHeroParagraph {
    font-size: 14px;
  }
  .skillSection {
    margin: 30px 0;
  }
  hr.classical {
    display: inline-block;
    width: 20%;
    position: relative;
    top: 10px;
  }
  .main_subHeaders {
    display: inline-block;
    margin-inline: 10px;
  }

  #lineSkillSection {
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
  }
  .skillLineHtml,
  .skillLineCss {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    position: relative;
  }
  .skillLineHtml::before {
    position: absolute;
    content: " ";
    width: 90%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillHtml 2.5s 1 ease-out;
  }
  @keyframes fillHtml {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }
  .skillLineCss::before {
    position: absolute;
    content: " ";
    width: 95%;
    padding: 5px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    animation: fillCss 2.5s 1 ease-out;
  }
  @keyframes fillCss {
    from {
      width: 0%;
    }
    to {
      width: 95%;
    }
  }

  .line-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
  }
  .skillLineTextDivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lineSkillSubSection {
    margin: 20px 0;
  }
  .skillLineText,
  .card-text,
  .barText {
    font-weight: bold;
  }

  .skillLineIconText {
    position: relative;
    top: -15px;
  }
  #cardSkillSection {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .skillCard {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    flex-grow: 1;
    text-align: center;
  }
  .card-icon {
    padding: 15px;
    border-radius: 10px;
    font-size: 2.3rem;
    margin-right: 10px;
  }
  .card-text-percentage,
  .bar-percentage {
    font-weight: bold;
  }
  #barSkillSection {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #uiUX,
  #seo {
    width: 100%;
    flex-grow: 1;
    padding: 20px 10px;
    border-radius: 20px;
  }
  .bar-icon {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  .barText,
  .bar-percentage {
    position: relative;
    top: -10px;
    margin-inline: 2;
    font-size: 14px;
  }
  #educationBarSection,
  #experienceSection,
  #experiences {
    margin: 20px 0;
    position: relative;
  }
  .roadmapSection {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }
  .roadmap-icon {
    padding: 5px;
    border-radius: 100%;
    font-size: 12px;
    position: relative;
    margin-top: 10px;
    z-index: 2;
  }
  .roadmap::after {
    content: " ";
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    left: 15px;
  }

  .educationBar,
  .experienceBar {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.3s;
  }

  .badge-roadmap {
    position: absolute;
    right: 0px !important;
    font-size: 10px !important;
    font-family: inherit;
    padding: 5px;
    top: 0px;
  }
  .barSectionHeader {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
  .barSectionText {
    margin: 5px 0 0 5px;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
  }
  #projectsCardSection {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px 10px;
  }
  .cardContainer {
    width: 310px;
    height: 100% !important;
    border-radius: 20px;
    position: relative;
  }
  .cardDescription {
    text-align: center;
    padding: 20px 10px 10px 10px;
    opacity: 0;
    height: 100%;
    width: 309.5px;
    border-radius: 20px 20px 0 0;
  }
  .project-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    height: 67% !important;
  }
  .cardHead {
    width: 100%;
    height: 67%;
    border-radius: 20px 20px 0 0;
  }
  .cardBody {
    width: 100%;
    height: 33%;
    padding: 15px 20px 10px 8px;
    border-radius: 0 0 20px 20px;
    position: relative;
    text-align: left;
  }
  .projectBadge {
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    font-size: 12px;
    right: 5px;
    top: 10px;
  }
  .badge-projects {
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    font-size: 10px;
  }
  .projectTitle {
    font-size: 14px;
    font-weight: 500;
  }
  .btn-description-code,
  .btn-description-demo {
    border-radius: 10px;
  }
  .cardContainer:hover .cardDescription {
    opacity: 1;
    transition: 0.3s;
    position: relative;
  }

  #contactsSection {
    margin: 20px 0;
  }
  .contactHeader {
    text-align: left;
    position: relative;
    left: 10px;
  }
  #contactSubsection {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 20px 0;
  }
  .myid {
    line-height: 1.2;
  }
  .contact-icon {
    margin-inline: 3px;
    padding: 8px;
    position: relative;
    top: 5px;
    border-radius: 100%;
  }
  .active-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-inline: 2px;
  }
  #availability {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
  }
  #contactForm {
    border-radius: 15px;
    padding: 20px;
    width: 350px;
  }
  .formHeader {
    font-size: 1.1rem;
    text-align: left;
    margin: 20px 0;
  }
  .btn-submit-contact {
    width: 100%;
  }
  label.text-area-label {
    text-align: left;
    margin-bottom: 10px;
  }
  #text-area::-webkit-scrollbar {
    width: 8px;
  }
  #text-area::-webkit-scrollbar-track {
    margin: 0 10px;
    border-radius: 0px;
    width: 10px;
  }
  #text-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 50px;
    border: 2px solid transparent;
  }
}
